@using System.Web.Mvc

@helper RenderTagLinks(List<string> tags, string separator)
{
    var tagLinks = new List<string>();

    foreach (string tag in tags)
    {
        string slug = tag.ToLower().Replace(" ", "-");
        tagLinks.Add($"<a href='/tag/{slug}'>{tag}</a>");
    }

    var Html = ((WebViewPage) PageContext.Page).Html;
    @Html.Raw(string.Join(separator, tagLinks))
}
