@using System.Web.Mvc
@using SharpBlog.Models

@helper RenderTagLinks(List<Tag> tags, string separator)
{
    var Url = ((WebViewPage) PageContext.Page).Url;
    var Html = ((WebViewPage) PageContext.Page).Html;
    var tagLinks = new List<string>();

    foreach (Tag tag in tags)
    {
        string url = Url.RouteUrl("Tag", new { slug = tag.Slug });
        tagLinks.Add($"<a href='{url}'>{tag.Name}</a>");
    }
    
    @Html.Raw(string.Join(separator, tagLinks))
}
